body{
	margin:0;
	padding:0;
}

.placeholder{
	border: 1px solid black;
	padding: 3em;
	margin: 15px;
	background-color: #ccc;
}

header{
	float: left;
	width: 100%;
}

.logo{
	float: left;
	width: 20%;
}

.link{
	border: 1px solid black;
	float: right;
	padding: 1em;
	margin: 45px 15px 15px 5px;
	background-color: #ccc;
	width: 12.5%;
	/*width: calc(((100%/3)*2)/4);*/
}

section{
	float: left;
	width: 100%;
}

.ad{
	width: calc(100%/3);
	float: left;
}

footer{
	float: left;
	width: 100%;
}
