body{
	border: 5px solid #777777;
	background-color: #444444;
	color: #FFFFFF;
	padding: 40px;
	margin: 25px;
	font-family: 'Georgia', serif;
}

nav{
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	text-align: center;
}

h1{
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

h2{
	font-family: 'Arial', sans-serif;
}

a{
	font-weight: bold;
	color: #15CB90;
}

img{
	float: right;
	border: 1px solid #777777;
	padding: 5px;
	margin: 5px;
}

hr{
	margin-top: 30px;
	margin-bottom: 30px;
}